<div class="col-12 col-md-10 mb-3 auto-max">
    <div class="card {% if not blog_post.publish_date %} border border-warning text-dark {% endif %}">
        <div class="card-body">
            {% if blog_post.image %}
                <a href="{{ blog_post.get_absolute_url }}">
                    <img src="{{ blog_post.image.url }}" class="card-img-top">
                </a>
            {% endif %}
            <h5 class="card-title">{{ blog_post.title }}</h5>
            {% if truncate %}
                <p class="card-text">{{ blog_post.content|linebreaks|truncatewords:30 }}</p>
            {% else %}
                <p class="card-text">{{ blog_post.content|linebreaks }}</p>
            {% endif %}
            {% if not detail %}
                {% if not blog_post.publish_date %} Draft {% endif %}
                <a class="btn btn-primary" href="{{ blog_post.get_absolute_url }}">View</a>
            {% endif %}
        </div>
    </div>
</div>